* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", serif;
}

body.bg-dark {
    background-color: #121212 !important;
    color: #ccc;
}

body.bg-white .container:not(.hashtags-menu .container) {
    border-bottom: 1px solid #ccc;
}

body.bg-dark .container:not(.hashtags-menu .container) {
    border-bottom: 1px solid #5555556b;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo-icon {
    font-size: 3.5rem;
    color: #6a0dad;
}

.news-text {
    font-size: .9rem;
    font-weight: 700;
    color: #838383;
    text-transform: uppercase;
}

.main-text {
    font-size: 2.5rem;
    font-weight: bold;
}

.theme-toggle {
    font-size: 2.5rem;
    cursor: pointer;
    color: #ffc107;
    transition: color 0.3s ease;
}

.theme-toggle.dark-mode {
    font-size: 1rem;
    color: #6a0dad;
}

body.bg-white .nav-link {
    color: #000;
}

body.bg-dark .nav-link {
    color: #ccc;
}

header li {
    font-weight: 800;
    font-size: 1.3rem;
}

.custom-dropdown {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.custom-dropdown .dropdown-item {
    padding: 8px 16px;
    font-weight: 600;
}

.custom-dropdown .dropdown-item:hover {
    background-color: transparent;
}

.custom-dropdown .dropdown-item:hover {
    color: #6428ec;
    transition: color 0.3s ease;
}

body.bg-dark .custom-dropdown {
    background-color: #1D1D1D;
    border: none;
}

body.bg-dark .custom-dropdown .dropdown-item {
    color: #ccc;
}

body.bg-dark .custom-dropdown .dropdown-item:hover {
    color: #6428ec;
}

body.bg-white .hashtag-container {
    background-color: #F5F5F5 !important;
}

body.bg-dark .hashtag-container {
    background-color: #1D1D1D !important;
}

.hashtag-container {
    background-color: #f5f5f5;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
}

body.bg-dark .hashtag-container {
    background-color: #1d1d1d;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.9);
}

.hashtag-container {
    border-bottom: 1px solid #ccc;
}

body.bg-dark .hashtag-container {
    border-bottom: 1px solid #5555556b;
}

img {
    object-fit: cover;
}

#mainCarousel .carousel-item img {
    height: 37.19rem;
}

.sidebar-right {
    height: 17rem;
}

.sidebar-left {
    height: 11rem;
}

.custom-bg-dark {
    background-color: #00000075;
    border: none;
}

body.bg-dark .sidebar-left-background {
    background-color: #121212 !important;
    color: #ccc;
}

.card-text {
    line-height: 1.1;
}